@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Jost&family=Sanchez&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: white;
  font-family: 'Sanchez', serif;
}

:root {
  --primary-color: #ef4444;
  --secondary-color: #F9FAFB;
}

.container-centre {
  max-width: 600px;
  margin: auto;
}

.logo {
  font-weight: bolder;
  font-size: 20px;
  letter-spacing: 3px;
  font-family: "Jost", sans-serif;
  background-color: var(--primary-color);
  color: #FEE2E2
}

.header {
  width: 100%;
  padding: 2rem;

  background: var(--primary-color);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.nav {
  list-style: none;
  background-color: var(--primary-color);
  display: flex;
  justify-content: flex-end;
}
.nav-item {
  padding-left: 5rem;

  background-color: var(--primary-color);
}
.nav-item a {
  text-decoration: none;
  text-align: center;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-weight: bold;
  transition: all 0.2s ease 0s;
}

.nav-item a:hover{
  color: #D1D5DB;
}
