@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #24252A;
}

:root {
  --primary-color: #ef4444;
}

li, a {
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #ECF0F1;
  text-decoration: none;
  
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
}

span{
  letter-spacing:0.6rem;
  font-size: 25px;
  color: #ECF0F1;
  font-weight: bold;
  font-family: 'Fjalla One', sans-serif;
  cursor: pointer;
}

.nav-links li{
  display: inline-block;
  padding: 5px 25px;
}
.nav-links{
  list-style: none;
}

.nav-links li a{
  transition: all 0.2s ease 0s;
}

.nav-links li a:hover{
  color: var(--primary-color);
}

.active{
  color: var(--primary-color);
}
