@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: #ef4444;
}

header {
  border-bottom: 1px solid black;
}

nav {
  width: 100%;
  text-align: right;
}

.ul {
  list-style: none;
}

.ul .nav-li {
  display: inline-block;
  margin: 10px 8px;
  padding: 20px;
}

nav .nav-li a {
  text-decoration: none;
  color: var(--primary-color);
  padding: 20px;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
}

#logo {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 140px;
  height: 60px;
}

nav .nav-li a:hover {
  background-color: rgba(255, 255, 255, 0.3);
  color: #b91c1c;
}
