@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost&family=Sanchez&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost&family=Sanchez&family=Space+Mono&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: white;
  font-family: "Sanchez", serif;
  scroll-behavior: smooth;
  /* scroll-padding: 1rem 0 0 0; */
}

:root {
  --primary-color: #ef4444;
  --secondary-color: #f9fafb;
}

.container-centre {
  max-width: 600px;
  margin: auto;
}

.logo {
  font-weight: bolder;
  font-size: 25px;
  letter-spacing: 5px;
  font-family: "Jost", sans-serif;
  background-color: var(--primary-color);
  color: #fee2e2;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem;
  margin-bottom: 2rem;
  background: var(--primary-color);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.nav {
  list-style: none;
  background-color: var(--primary-color);
  display: flex;
  justify-content: flex-end;
}
.nav-item {
  padding-left: 4rem;

  background-color: var(--primary-color);
}
.nav-item a {
  text-decoration: none;
  text-align: center;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-size: 16px;
  font-weight: bold;
  transition: all 0.2s ease 0s;
}

.nav-item a:hover {
  color: #d1d5db;
}

.hero-img {
  margin: 1rem;
  max-width: 400px;
  max-height: 400px;
  border-radius: 50%;
}
.intro {
  height: 700px;
  margin-top: 120px;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.secondary-heading {
  color: #f87171;
  font-size: 20px;
  font-family: "Space Mono", monospace;
  font-weight: bold;
}
.intro h1 {
  font-weight: bolder;
  padding-top: 1.5rem;
}

.project-box {
  width: 27%;
  /* border: 1px solid black; */
  margin: 18px;
  margin-bottom: 1rem;
  border-radius: 15px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}
.project-box img {
  display: block;
  width: 100%;
  height: 200px;
  /* object-fit: cover; */
  
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  /* opacity: 0.8; */
  margin-bottom: 5px;
}
.button-placement {
  padding: 1rem;
}
.button-placement button {
  min-width: 100px;
  padding: 5px;
  border-radius: 10px;
  border: 2px solid var(--primary-color);
  
}
.button-placement a{
  color: var(--primary-color);
  font-weight: lighter;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

@media (max-width: 800px) {
  .project-box {
    width: 60%;
    /* border: 1px solid black; */
    margin: 10px;
    margin-bottom: 1rem;
    border-radius: 15px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  }
  .project-box img{
    width: 100%;
    height: 150px;
  }
}
@media (max-width: 320px) {
  .project-box {
    width: 90%;
    /* border: 1px solid black; */
    margin: 10px;
    margin-bottom: 1rem;
    border-radius: 15px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  }
  .project-box img{
    width: 100%;
    height: 150px;
  }
  .button-placement button {
    min-width: 80px;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid var(--primary-color);
    
  }
  .button-placement a{
    color: var(--primary-color);
    font-weight: lighter;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
  }
}



.projects {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 2rem;
  align-items: center;
  /* height: 700px; */
  margin-bottom: 5rem;
}

.nav-heading {
  margin-left: 50px;
  font-weight: bolder;
  text-decoration-line: underline;
  text-decoration-color: var(--primary-color);
  text-decoration-style: solid;
  text-underline-offset: 8px;
}

.tech-stack{
  display: flex;
  padding: 10px 1rem;
  justify-content: flex-start;
  align-items: center;
}
.tech-name{
  padding: 0.3rem 0.5rem;
  font-size: 0.7rem;
  border-radius: 15px;
  color: white;
  background-color:#D1D5DB ;
  margin-right: 1rem;
  font-weight: bold;
}


.button-placement button:hover {
  cursor: pointer;
}
.project-box h3 {
  font-weight: bolder;
  padding: 0 1rem;
  height:30px;
  margin-bottom: 0.9rem;
}

.project-box h3,
p {
  font-family: "Poppins", sans-serif;
}
.project-box p {
  color: rgba(0, 0, 0, 0.6);
  font-size: 15px;
  padding: 0.5rem 1rem;
  height: 80px;
  padding-top: 3px;
  margin-bottom: 2.5rem;
  
}
